[defaults]
inventory = hosts
remote_user = vagrant
become = true
host_key_checking = false
deprecation_warnings = false
command_warnings = false
retry_files_enabled = false
forks = 5
stdout_callback = yaml
vault_password_file = vault_pass
